@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  /* @apply border; */
  /* border: 1px solid red; */
}

@layer base {
  :root {
    --primary: rgb(255, 255, 255);
    --primary-shade: rgb(243, 243, 243);
    --secondary: rgba(0, 0, 0, 0.938);
    --accent1: rgb(48, 48, 48);
    --accent2: rgb(156, 0, 0);

    --gradient1: rgba(255, 0, 0, 0.301);
    --gradient2: rgba(0, 247, 255, 0.281);
    --gradient3: rgb(255, 255, 255);
    --gradient4: rgb(255, 255, 255);


    --radial1: rgba(248, 11, 11, 0.342);
    --radial2: rgba(11, 248, 102, 0.342);
    --radial3: rgba(248, 11, 141, 0.178);
    --radial4: rgba(248, 11, 31, 0.075);
  }


@media (prefers-color-scheme: dark) {
  :root {
    --primary: rgba(2, 2, 2, 0.918);
    --primary-shade: rgb(17, 17, 17);
    --secondary: rgb(255, 255, 255);
    --gradient1: rgba(255, 3, 150, 0.13);
    --gradient2: rgba(241, 79, 30, 0.103);
    --gradient3: rgb(0, 0, 0);
    --gradient4: rgba(215, 1, 243, 0.062);

    
    --radial1: rgba(248, 11, 11, 0.226);
    --radial2: rgba(11, 248, 102, 0.055);
    --radial3: rgba(248, 11, 141, 0.178);
    --radial4: rgba(248, 11, 31, 0.192);
  }
}


  
.content {
  background: radial-gradient(
    ellipse,
    /* var(--gradient4), */
    /* var(--gradient2), */
    var(--gradient1) -38%,
    var(--gradient3),
    var(--gradient3)
    /* var(--gradient3) */
  );
}
}

body {
  color: var(--secondary);
  background-color: var(--primary);
}

@layer utilities {
  .modal-btn {
    padding: 0.75em 1.7em;
    margin: 4px 0;
  }
}

@layer components {
  .animate-toast-in {
    display: hidden;
    animation: displayIn 1s;
  }
  .animate-toast-out {
    /* display: flex; */
    animation: displayOut 1s;
  }

  @keyframes displayIn {
    0% {
      transform: translateX(500px);
    }
    100% {
      transform: translateX(0);
    }
  }
  @keyframes displayOut {
    0% {
      display: flex;
      transform: translateX(0);
    }
    100% {
      display: hidden;
      transform: translateX(500px);
    }
  }

  .toast-border {
    border: 0.3px;
    border-style: solid;
  }

  .personalize-input {
    @apply py-2 px-6 my-2  border mx-2 rounded-lg;
  }
}
/* 


@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.custom-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  gap: 10px;
  justify-items: center;
  align-items: center;
}

@media (max-width: 768px) {
  .custom-grid {
    grid-template-columns: repeat(auto-fill, minmax(12em, 1fr));
  }
}

.z-index {
  z-index: calc(infinity * 1px);
}

.first-pg {
  font-size: 1.2rem;
  font-weight: 900 !important;
  /* color: rgb(3, 94, 69) !important; */
}

.pg {
  font-weight: 500;
  text-align: justify;
  padding: 0.5em;
  padding-top: 1em;
}

.list {
  list-style: disc;
  margin-left: 3em;
  color: rgb(3, 109, 77);
  /* color: rgb(20, 20, 20) !important; */
}

.colors {
  color: rgb(20, 87, 211);
  color: rgb(224, 231, 243);
  color: rgb(27, 27, 27);
  color: rgb(238, 238, 238);
  color: rgb(39, 39, 39);
  color: rgb(255, 255, 255);
}
